body {
    min-width: 1015px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
  }


  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .header-top {
    width: 800px;
      margin: 0 auto;
  }

  .page-header {
      min-height: 490px;
      padding-top: 60px;
      background-image: url(img/wheat-back.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      background-color: #363636;
  
  }

  .logo {
      margin-right: 59px;
      display: inline-block;
      vertical-align: middle;
  }
   
  .main-nav li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      padding-right: 50px;

  }

  .main-nav li:last-child a {
    padding-right: 0px;
  }

  .main-nav li {
      float: left;
      list-style: none;
      padding: 13px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .main-nav {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
  }

  .promo {
    font-size: 70px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 550;
    text-align: center;
    padding-top: 45px;
    width: 800px;
    margin: 0 auto;
  }

  .allnews {
    min-height: 1085px;
    margin-top: 80px;
  }

.news {
  width: 800px;
  margin: 0 auto;
}

  .news h2 {
font-size: 40px;
line-height: 61px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 80px;
  }

.bottle1, .bottle2 {
width: 337px;
padding-left: 35px;
margin-right: 27px;
border-left: 1px solid #e5e5e5;
}

.bottle1 {
float: left;
}

.bottle2 {
  float: right;
}

.bottle1 h3, .bottle2 h3 {
  font-size: 40px;
line-height: 61px;
font-weight: bold;
margin:0;
}

.bottle1 table, .bottle2 table {
  border-collapse: collapse;
}

.bottle1 .table1 p, .bottle2 .table2 p {
  font-size: 14px;
  line-height: 24px;
  color: #404040;
}

.bottle1 table td, .bottle2 table td {
  border: 1px solid black;
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 16px;
line-height: 41px;
font-weight: bold;
}

.table1, .table2 {
  position:relative;
  left: 175px;
  top: 40px;
  width: 160px;
  z-index: 1;
}

.content {
  position:relative;
  top: -120px;
}

.btn1 {
  border: 2px  solid #834600;
  background-color: #ffffff;
  width: 143px;
  height: 46px;
  text-decoration: none;
  color: #834600;
  font-size: 16px;
line-height: 20px;
font-weight: 550;
text-transform: uppercase;
padding: 15px 20px;
}

.btn2 {
  background-color: #834600;
  width: 109px;
  height: 46px;
  border: 2px  solid #834600;
  margin-right: 25px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
line-height: 20px;
font-weight: 550;
text-transform: uppercase;
padding: 15px 20px;
}


.features {
  padding-bottom: 55px;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  float: left;
  width: 33%;
 border-left: 1px solid #e5b56b;
  text-align: center;
}

.feature-item:first-child {
  border-left: none;
}

.feature-choice {
  background: url("img/icon-brew.png") top center no-repeat;
}

.feature-quality {
  background: url("img/icon-matreshka.png") top center no-repeat;
}

.feature-safety {
  background: url("img/icon-thumbsup.png") top center no-repeat;
}

.feature-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.container1 {
  width: 1200px;
  margin: 0 auto;
  height: 410px;
  background-color: #ffca78;
}